:root {
  --color-primary-1: #00ff00;
  --color-primary-2: #ff00ff;
}

[data-theme-type="light"] {
  --color-primary-1: #e3e3e3;
  --color-primary-2: #000000;
}

[data-theme-type="dark"] {
  --color-primary-1: #363636;
  --color-primary-2: #ffffff;
}
