<div
  *ngIf="featureFlagsConfig"
  [attr.data-theme-type]="themeType"
  class="main-wrapper background-color-bg w-100 d-flex flex-column justify-content-start align-items-center"
>
  <!-- Fixed contents -->
  <div
    *ngIf="featureFlagsConfig.scrollDown.visible"
    class="scroll-down-wrapper user-select-none d-flex flex-column justify-content-center align-items-center"
  >
    <div class="scroll-text color-text-offset">Scroll Down</div>
    <div class="scroll-line d-flex flex-column"></div>
  </div>
  <!-- ! end of fixed contents -->
  <div
    [ngClass]="{ 'show-themes': showThemes }"
    class="themes-wrapper w-100 position-relative d-flex flex-row justify-content-center align-items-center"
  >
    <app-theme [themeList]="themeList"></app-theme>
  </div>
  <div
    [style.animation-name]="
      featureFlagsConfig.loadingPage.visible ? 'blurAnimation' : 'none'
    "
    [style.animation-delay]="
      featureFlagsConfig.loadingPage.visible
        ? featureFlagsConfig.loadingPage.duration + 's'
        : '0s'
    "
    class="main background-color-bg w-100 d-flex flex-row justify-content-start align-items-start position-relative"
  >
    <div class="navbar-wrapper position-absolute">
      <app-navbar></app-navbar>
    </div>
    <main
      class="w-100 d-flex flex-row justify-content-center align-items-center"
    >
      <div
        (click)="toogleThemes()"
        class="settings-icon-wrapper background-color-bg-offset d-flex flex-column justify-content-center align-items-center position-relative"
      >
        <app-icons
          [name]="'settings'"
          className="fill-color-text"
          [width]="20"
          cursor="pointer"
        ></app-icons>
      </div>
      <div class="container">
        <!-- Actual content -->
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
  <div
    *ngIf="featureFlagsConfig.loadingPage.visible && showLoadingPage"
    [@enterAnimation]
    class="loading-wrapper d-flex flex-column justify-content-center align-items-center"
  >
    <app-loading
      [duration]="featureFlagsConfig.loadingPage.duration"
      (onFinish)="showLoadingPage = false"
    ></app-loading>
  </div>
</div>
