.main {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  margin-left: 100px;
}

.navbar-wrapper {
  width: fit-content;
  height: 100vh;
}

.loading-wrapper {
  transition-duration: 1s;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
}
