<div
  *ngIf="featureFlagsConfig"
  [attr.data-theme-type]="themeType"
  class="main background-primary-1 w-100 d-flex flex-row justify-content-start align-items-start position-relative"
>
  <div class="navbar-wrapper position-fixed">
    <app-navbar></app-navbar>
  </div>
  <main class="w-100 d-flex flex-row justify-content-center align-items-center">
    <div class="container">
      <router-outlet></router-outlet>
      <h1 class="text color-primary-2">H1 test</h1>
      <button
        (click)="onBtnClick()"
        class="btn background-primary-1 color-primary-2"
      >
        change
      </button>
    </div>
  </main>
  <div
    *ngIf="featureFlagsConfig.loadingPage.visible && showLoadingPage"
    [@enterAnimation]
    class="loading-wrapper d-flex flex-column justify-content-center align-items-center"
  >
    <app-loading
      [duration]="featureFlagsConfig.loadingPage.duration"
      (onFinish)="showLoadingPage = false"
    ></app-loading>
  </div>
</div>
