<div
  class="loading user-select-none d-flex flex-column justify-content-center align-items-center"
>
  <!-- <div
    class="background-image-1 d-flex flex-column justify-content-center align-items-center"
  >
    <app-icons [name]="'qr'" className="fill-white" [width]="700"></app-icons>
  </div> -->

  <div #qr class="qr-code-wrapper">
    <app-icons
      [name]="'qr'"
      className="fill-white"
      [width]="100"
      cursor="pointer"
    ></app-icons>
  </div>

  <div class="timer color-white">{{ percent }}%</div>

  <div
    class="theme-type d-flex flex-column justify-content-center align-items-center"
  >
    Theme: {{ themeName$ | async }}
  </div>
</div>
